$primary-bg-color: #121212;
$secondary-bg-color: #000000;
$tertiary-bg-color: #181818;
$quarternary-bg-color: #070707;
$primary-font-color: #fff;
$secondary-font-color: #b3b3b3;
$tertiary-font-color: #ffffffb3;
$primary-btn-color: #1db954;
$primary-scroll-bar-color: rgba(255, 255, 255, 0.3);
$primary-border-color: #b3b3b3;
$primary-hr-bg-color: #282828;
$playlist-card-overlay: #272727;
$popover-bg-color: #0d72ea;
